In [5]:
import pandas as pd

In [6]:
df1 = pd.read_csv("Data csv/Album.csv")
df2 = pd.read_csv("Data csv/Artist.csv")
df3 = pd.read_csv("Data csv/Customer.csv")
df4 = pd.read_csv("Data csv/Employee.csv")
df5 = pd.read_csv("Data csv/Genre.csv")
df6 = pd.read_csv("Data csv/Invoice.csv")
df7 = pd.read_csv("Data csv/InvoiceLine.csv")
df8 = pd.read_csv("Data csv/MediaType.csv")
df9 = pd.read_csv("Data csv/Playlist.csv")
df10 = pd.read_csv("Data csv/PlaylistTrack.csv")
df11 = pd.read_csv("Data csv/Track.csv")

In [7]:
from sqlalchemy import create_engine

user = 'root'
password = '1234'
host = '127.0.0.1'
port = 3306
database = 'chinook'

engine = create_engine(
    url="mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(
        user, password, host, port, database
        )
    )

In [8]:
df1.to_sql(name="album",con=engine,if_exists="replace",index=False,chunksize=2000)
df2.to_sql(name="artist",con=engine,if_exists="replace",index=False,chunksize=2000)
df3.to_sql(name="customer",con=engine,if_exists="replace",index=False,chunksize=2000)
df4.to_sql(name="employee",con=engine,if_exists="replace",index=False,chunksize=2000)
df5.to_sql(name="genre",con=engine,if_exists="replace",index=False,chunksize=2000)
df6.to_sql(name="invoice",con=engine,if_exists="replace",index=False,chunksize=2000)
df7.to_sql(name="invoice_line",con=engine,if_exists="replace",index=False,chunksize=2000)
df8.to_sql(name="media_type",con=engine,if_exists="replace",index=False,chunksize=2000)
df9.to_sql(name="playlist",con=engine,if_exists="replace",index=False,chunksize=2000)
df10.to_sql(name="playlist_track",con=engine,if_exists="replace",index=False,chunksize=2000)
df11.to_sql(name="track",con=engine,if_exists="replace",index=False,chunksize=2000)

3503